html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  margin: 10px;
}

h1 {
  margin: 0 0 10px;
  color: #999;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  color: #888;
  font-weight: normal;
}

form {
  display: block;
}

form textarea {
  margin-top: 5px;
  padding: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 5em;
}

form p {
  margin-top: 5px;
}

label {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: normal;
}

td {
  text-align: right;
}

tr > * {
  border-bottom: 1px solid silver;
  padding: 5px;
}

.message {
  text-align: center;
  color: red;
}

.sentence {
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
  max-height: 1000px;
  transform: scale(1.0);
}

.sentenceText {}

.sentenceTop {
  display: flex;
  justify-content: space-between;
}

.sentence .sentenceDetails {
  max-height: 0;
  overflow: hidden;
  font-size: 12px;
  transition: all 1s;
}

.sentence.acrolinx-selected-range .sentenceDetails {
  max-height: 200px;
}

.sentence .sentenceDetails tr > * {
  padding: 5px 0;
}

.sentence:hover {
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.1);
}

.strongestToneLabel {
  min-width: 5em;
  font-weight: bold;
  text-align: right;
}

.sentence.acrolinx-selected-range {
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

.sentence.acrolinx-invalid-range {
  opacity: 0.5;
  cursor: not-allowed;
}

.sentence.acrolinx-invalid-range * {
  cursor: not-allowed !important;
}

.sentence.acrolinx-replaced-range {
  border: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  max-height: 0;
  transform: scale(0);
}
